.collection-item {
  width: 22vw;
  display: flex;
  height: 350px;
  align-items: center;
  flex-direction: column;
  position:relative;
  &:hover{
    .custom-button{
         opacity:0.9;
         display:flex;
         justify-content:center; 
    }
    .image{
       
       opacity:0.85;
    }
  }
 .custom-button{
   top:250px;
   right:23px;
   opacity:1;
   width:80%;
   position:absolute;
   display:none;
 }
  .image {
    width: 100%;
    height: 95%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
    border-radius: 5%;
  }

  .collection-footer {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-around;
    font: size 18px;
  }
  .name {
    width: 83%;
    margin-bottom: 15px;
    font-family: inherit;
  }
  .price {
    margin-bottom: 15px;
    font-family: inherit;
  }
}
