
.cart-option{
width:45px;
height:45px;
position:relative;
display:flex;
flex-direction: column;
justify-content:center ;
align-items: center;
color:inherit;
cursor:pointer;


.cart-icon{
height: 30px;
width:30px;
}


.item-count{
position:absolute;
font-size: 15px;
bottom: 10px;
color:darkred;
font-weight:bolder;
}

&:hover{
.item-count{
    color:white;
}
}

}
