.checkout-item {
  display: flex;

  min-height: 130px;
  margin: 5px;
  width: 100%;
  align-items: center;
  justify-content: space-between;

  .img-container {
    height: 110px;
    width: 23%;
    margin-left: 2px;
    padding: 0px 10px 0px 0px;
  }
  .name {
    font-size: 20px;
    width: 23%;
    padding: 0px 10px 4px;
  }
  .price {
    font-size: 20px;
    width: 23%;
    padding: 0px 10px 4px;
  }
  .quantity {
    font-size: 20px;
    width: 23%;
    padding: 0px 10px 4px;
  }
  .remove-icon {
    width: 8%;
    padding: 0px 10px 4px;
    &:hover {
        cursor:pointer;
      color: red;
    }
    &:active {
      color: white;
    }
  }
}
