.collection-page{
    display:flex;
    flex-direction:column;
    margin-bottom: 40px;
 
    .title{
        font-size: 30px;
        font-family: inherit;
        font-weight:bolder;
        margin: 1em auto 2em;
        text-transform: uppercase;
    }
    .collection-items{
    display:flex;
    justify-content: space-between;
     
    }
}